.wrapper {
    max-width: 500px;
    height: auto;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding: 1em;
}

.searchedWord {
    font-size: 2em;
}

.gameResult {
    font-size: 2em;
    margin: 1em;
}


.abc {
    max-width: 600px;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
}

.abc>button {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    font-size: 1em;
}

.wrong {
    background-color: red;
}

.correct {
    background-color: green;
}