.wrapper {
    /* width: 500px; */
    /* background-color: aliceblue; */
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suchwort {
    font-size: 2em;
}

.result {
    font-size: 2em;
    margin: 1em;
}

.enteredBuchsAreaLabel {
    margin-top: 2em;

}

.enteredBuchsArea {
    min-width: 200px;
    min-height: 100px;
    padding: 0.5em;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 1.2em;
}