@import url('https://fonts.googleapis.com/css2?family=Galdeano&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: 'Sour Gummy';
}


button {
    font-family: 'Sour Gummy';
}


.wrapper {
    max-width: 500px;
    height: auto;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding: 1em;
    background: url('./img/45degreee_fabric.webp');
}

.searchedWord {
    font-size: 2em;
    text-align: center;
}

.gameResult {
    font-size: 1.5em;
    margin: 0 0 1em 0;
    text-align: center;
}

.secretWordWas {
    background-color: rgba(0, 0, 0, 0.392);
    border-radius: 5px;
    padding: 0.4em;
    color: rgb(255, 255, 255);
}

.abc {
    max-width: 600px;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
}

.searchedWord {
    margin: 1em;
    font-weight: 500;
    padding: 0.3em;
    transition: 1s;
    border-radius: 10px;
}


.buttonNewGame {
    padding: 0.4em;
    font-size: 0.8em;
    border-radius: 5px;
    transition: 0.5s;
    background-color: lawngreen;
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 100;
}

.buttonNewGame:hover {
    background-color: rgb(195, 10, 241);
    color: #fff;
}



.abc > button {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 1em;
    transition: 0.6s;
    color: black;
    box-shadow: 0 0 3px rgb(116, 115, 115);
}

button:hover {
    transform: scale(1.2);
}

.wrong {
    background-color: red;
}

.correct {
    background-color: rgba(0, 128, 0, 0.537);
}

@media (max-width: 600px) {
    .wrapper {
        height: auto;
        margin: 1% auto;
    }

    .abc {
    width: 100%;
    }

    button {
        width: 50px;
        height: 50px;
    }
}